.title {
  @apply text-foreground;
}
.iconstyle {
  @apply text-border;
}
.subtitle {
  @apply text-sm;
}
.smtitle {
  @apply text-sm font-extralight text-border;
}
.sidebg {
  @apply bg-bgside;
}
.heading {
  @apply text-foreground font-bold text-lg;
}
.inputsearch {
  @apply absolute left-2.5  bottom-1/4;
}
.squarestyle {
  @layer fa-square;
  @layer fa-solid;
}
.fadein {
  animation: fadeIn 0.5s ease-in-out;
}
.iconhoverbtn {
  @apply h-full px-4 py-[18px] inline-flex items-center justify-center whitespace-nowrap rounded-md  font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.rightstyleinputs {
  @apply mb-2 bg-transparent border-divider focus-visible:ring-[none] placeholder:text-border;
}

::-webkit-scrollbar {
  @apply w-2 border-l border-l-transparent  rounded-full;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent rounded-full;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply border-l  bg-divider rounded-full py-80;
}

/*2 Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-background rounded-full;
}

::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
}
.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px hsl(216 8 16) inset !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px hsl(0 0 88%) inset !important; /* اینجا از رنگ تاریک‌تر استفاده شده */
}
